replicaCount: 1

image:
  repository: medhedijemaa/rancher-demo
  pullPolicy: IfNotPresent
  tag: "latest"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false
